* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    padding: 0 1rem;
    height: 50px;
    width: 100%;
    /* background-color: #010101; */
    /* background-color: #f5f5f59a; */
    background-color: #fff;
    color: #010101;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    /* color: #fff; */
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 24px 13px 24px;
    text-decoration: none;
    /* color: #efefef; */
    color: #010101;
    font-family: 'Montserrat', sans-serif;
}

.nav>.nav-links>a:hover {
    background-color: #eee;
    color: #010101;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

:root {
    --polka-bg-image:
        radial-gradient(rgb(236, 229, 223) 10%, transparent 20%),
        radial-gradient(rgb(236, 229, 223) 10%, transparent 20%);
    --polka-bg-position: 0px 0px, 8px 8px;
    --polka-bg-size: 16px 16px;
    --polka-bg-color: rgb(255, 255, 255);
}

/* ...or add this class to an element */
.hero {
    height: 500px;
    background-image:
        radial-gradient(rgb(236, 229, 223) 10%, transparent 20%),
        radial-gradient(rgb(236, 229, 223) 10%, transparent 20%);
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
    background-color: #fff;
    
    
}

.hero-img {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-image: url('./hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 10;
}
.hero-text{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin: -3rem 1rem;
    padding: 2rem;
    border-radius: 1rem 0 1rem 0;
}